<ul>
<% if logged_in? %>
  <li><%= link_to '主催イベント一覧', :controller => "event", :action => "owned" %>
<% else %>
  <%= render :partial => "account/login" %>
<% end %>
<li><%= link_to '開催中のイベント一覧', :controller => "event", :action => "list" %></li>
</ul>

