<h1><%=h self.current_user.login %>さんのホーム</h1>
<div id="events">
  <h2>参加しているイベント</h2>
  <ul>
    <% for event in self.current_user.events %>
      <li><%= link_to_event(event) %></li>
    <% end %>
  </ul>
  <br />
  <h2>主催しているイベント</h2>
  <ul>
    <% for event in self.current_user.owned_events %>
      <li><%= link_to_event(event) %></li>
    <% end %>
  </ul>
  <br />
  <%= link_to '新しいイベントを作成する', new_event_path %>
</div>
