<div id="events">
  <h1>イベント一覧</h1>
  <ul>
    <% for event in @events.select{|event| event.state != :prep} %>
      <li><%= link_to_event(event) %></li>
    <% end %>
  </ul>

  <br />

  <% if logged_in? %>
    <%= link_to '新しいイベントを作成する', new_event_path %>
  <% end %>
</div>
