<div id="events">
  <h1>検索</h1>
  <% start_form_tag :controller => 'search', :action => 'event' do -%>
    <%= text_field :event, :name %>
    <%= submit_tag '検索' %>
  <% end -%>
  <br />
  <h1>イベント一覧</h1>
  <ul>
    <% for event in @events %>
      <li><%= link_to_event(event) %></li>
    <% end %>
  </ul>

  <% if logged_in? %>
  　　<p><%= link_to '新しいイベントを作成する', :action => 'new' %></p>
  <% end %>
</div>
