<div id="events">
  <h1>イベント一覧</h1>
  <ul>
    <% for event in @events %>
      <li><%= link_to_event(event) %></li>
    <% end %>
  </ul>

  <% if logged_in? %>
  　　<p><%= link_to '新しいイベントを作成する', :action => 'new' %></p>
  <% end %>
</div>
