<div id="event">
  <h1>New event</h1>

  <% form_tag :action => 'create' do %>
    <%= render :partial => 'form' %>
    <%= submit_tag "Create" %>
  <% end %>

  <ul id="navi">
    <li><%= link_to 'Back', :action => 'list' %></li>
  </ul>
</div>
