<div id="events">
  <h1><%=h self.current_user.name %>さんが主催しているイベント</h1>
  <ul>
  <% for event in @events %>
    <li><span class="status">[<%=h event.status %>]</span> <%= link_to_event(event) %></li>
  <% end %>
  </ul>
  <% if logged_in? %>
  　　<p><%= link_to '新しいイベントを作成する', :action => 'new' %></p>
  <% end %>
</div>
