<% for column in Event.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @event.send(column.name) %>
</p>
<% end %>

<% if @event.owner == self.current_user %>
  <%= link_to 'このイベントを編集する', :action => 'edit', :id => @event %>
<% end %>

<hr />

<h2> 参加者一覧</h2>
<ul>
<% for entry in @event.owned_entries %>
  <li><%=h entry.nick %></li>
<% end %>
</ul>

<hr />

