<%= render :partial => "layouts/common_head" %>
<body>
<%= render :partial => "layouts/header" %>
<p style="color: green"><%= flash[:notice] %></p>
<%= yield  %>
<%= render :partial => "layouts/footer" %>
</body>
</html>
